.navbar-custom
{
	height: 75px;
	padding: 0 !important;
	background-color: #333;
}
@media only screen and (max-width: 991px)
{
	.mobileHeader
	{
		border: 0;
		height: 3px !important;
		opacity: 1 !important;
		background-color: #FFCC00;
	}
	.navbarTitle
	{
		color: #fff;
		font-size: 0.65rem;
	}
	.smallFont
	{
		font-weight: 200;
	}
	.navbar-custom
	{
		border-bottom: 3px #FFCC00 solid;
	}
	.navbar-collapse
	{
		height: calc(100vh - 75px) !important;
		background-color: #333;
		padding: 0 !important;
		position: absolute;
		top: 75px;
		left: 0;
		width: 100%;
		transition: left 0.8s;
		transition-delay: 0s !important;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.collapse:not(.show)
	{
		display: block !important;
		left: -990px;
		transition: left 0.8s;
		transition-delay: 0s !important;
	}
	.collapsing 
	{
    	height: calc(100vh - 75px)!important;
  		overflow: hidden;
  		transition: left 0.8s !important;
  		transition-delay: 0s !important;
	}
	.nav-link:not(.print)
	{
		font-size: 0.65rem !important;
		padding-left: 0px !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		height: 8.7%;
		color: #fff !important;
		border-bottom: 1px #FFCC00 solid;
	}
	.nav-link.print
	{
		height: 8.7%;
	}
	.nav-link.print .nav-link-inner
	{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-link:not(.print) .nav-link-inner
	{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-left: 10px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	}
	.nav-link-inner.touchActive
	{
		background-color: #FFCC00;
	}
	.nav-link.print:nth-of-type(1)
	{
		display: none;
	}
	.printPDFButton
	{
		color: white;
	    border: 1px solid #777;
	    width: 15rem;
	    height: 4rem;
	    border-radius: 8px;
	    background-color: #333;
	    transition: 0.4s;
	}
}
@media only screen and (min-width: 992px)
{
	.mobileHeader
	{
		display: none;
	}
	.navbarTitle
	{
		display: none;
	}
	.navbar-custom > .container-fluid,
	.navbar-collapse
	{
		height: 100%;
		padding: 0 !important;
	}
	.nav-link
	{
		font-size: 0.6rem !important;
		padding-left: 0px !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		height: 100%;
		width: 10%;
		position: relative;
		display: flex !important;
		color: #fff !important;
	}
	.nav-link-print
	{
		font-size: 0.6rem !important;
		padding-left: 0px !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		height: 100%;
		width: 9.09%;
		position: relative;
		display: flex !important;
		color: #fff !important;
		cursor: default;
	}
	.nav-link-inner
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-link:not(.print)
	{
		cursor: pointer;
	}
	.nav-link:not(.print)::after
	{
		height: 5px;
		width: 0;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #FFCC00;
		transition: 0.2s linear;
	}
	.nav-link.active::after
	{
		height: 5px;
		width: 100%;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #ED1B2E;
		transition: 0.2s linear;
	}
	.nav-link:hover::after
	{
		width: 100%;
	}
	.nav-link:nth-of-type(6) .nav-link-inner
	{
		padding-left: 15px;
	}
	.nav-link-inner img
	{
		cursor: pointer;
	}
	.menuLogo
	{
		max-width: 100px;
		min-width: 100px;
	}
	.printPDFButton
	{
		color: white;
	    border: 1px solid #777;
	    width: 8rem;
	    height: 2rem;
	    border-radius: 8px;
	    background-color: #333;
	    transition: 0.4s;
	}
}
.navbar-nav
{
	height: 100%;
	width: 100%;
	align-items: center;
}
.navbar-nav > *
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.nav-link a
{
	color: #fff;
	text-decoration: none;
}
.nav-link a:hover
{
	color: #fff;
}
.navbar-toggler
{
	position: absolute;
	top: 16px;
	right: 0px;
}
#navbarToggler > span
{
	display: block;
	width: 28px;
	height: 2px;
	border-radius: 9999px;
	background-color: #fff;
}
#navbarToggler > span:not(:last-child)
{
	margin-bottom: 7px;
}
#navbarToggler, #navbarToggler > span
{
	transition: all .4s ease-in-out;
	margin-top: 2px;
}
#navbarToggler:not(.collapsed)
{
	transition-delay: 0.4s;
	transform: rotate(45deg);
}
#navbarToggler:not(.collapsed) > span:nth-child(2)
{
	width: 0;
}
#navbarToggler:not(.collapsed) > span:nth-child(1),
#navbarToggler:not(.collapsed) > span:nth-child(3)
{
	transition-delay: .2s;
}
#navbarToggler:not(.collapsed) > span:nth-child(1)
{
	transform: translateY(9px);
}
#navbarToggler:not(.collapsed) > span:nth-child(3)
{
	transform: translateY(-9px) rotate(90deg);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus 
{
    outline: none !important;
    box-shadow: none !important;
}
.printPDFButton:hover
{
	color: #000;
	background-color: #fff;
}